{% extends 'users/base.html' %}

{% block title %}Main{% endblock %}

{% block body %}


    <table class="table table-responsive-sm table-hover container" id="listofuser" style="max-width: 1000px; margin-top: 50px">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Phone No.</th>
          <th scope="col">Operation</th>
        </tr>
      </thead>
      <tbody>
        {% for user in all_users %}
            <tr>
              <th scope="row">{{ user.id }}</th>
              <td><a href="{% url 'users:update' user.id %}">{{ user.Name }}</a></td>
              <td>{{ user.Phone_no }}</td>
              <td><form action="{% url 'users:delete' user.id %}" method="post" style="display: inline;">{% csrf_token %}
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <button type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                  </form>
              </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>




{% endblock %}
